.container {
  --text-color: #3a3a3a;
  width: 56%;
  max-width: 800px;
  height: 50px;
  position: fixed;
  top: 4%;
  right: 5%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.1);
  border-radius: 15px;
  transition: all 0.4s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 11px hsla(0, 0%, 0%, 0.154);
}

.headerIcon_text,
.headerIcon_icon {
  padding: 8px 18px;
  border-radius: 30px;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: 'Saira', sans-serif;
  color: var(--text-color);
  font-weight: 700;
  display: flex;
  align-items: center;
}

.headerIcon_text:hover,
.headerIcon_icon:hover {
  background-color: hsla(0, 0%, 72%, 0.453);
  cursor: pointer;
  font-weight: 1000;
}

@media (max-width: 1000px) {
  .container {
    width: 50px;
    max-width: 160px;
    flex-direction: column;
    border-radius: 25px;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
      background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
      -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    top: 4%;
    right: 12%;
    position: absolute;
  }

  .headerIcon_text,
  .headerIcon_icon {
    display: none;
  }

  .bars_icon {
    cursor: pointer;
  }
}
